<h1>Hello, {{ username }}!</h1>

<div *ngIf="!roleInfo">
    <button type="button" (click)="chooseRole()" class="btn btn btn-outline-warning btn-lg btn-block">Choose role and competences</button>
</div>
<div *ngIf="roleInfo">
    <h3>Your role:</h3>
    <div>
        <div class="card text-center text-white bg-secondary mb-3">
            <div class="card-header">
                {{ roleInfo.role }}
            </div>
        <div class="card-body">
            {{ roleInfo.description }}
        </div>
    </div>
    <h3>Your competences:</h3>
    <div class="userinfo">
        <div class="competences card-group" *ngFor="let competence of competencesInfo">
            <div class="card text-center text-white bg-secondary mb-3">
                <div class="card-header">
                    {{ competence.competence }}
                </div>
            <div class="card-body">
                {{ competence.description }}
            </div>
        </div>
    </div>
    <button type="button" (click)="chooseScenario()" class="scenario btn btn-outline-info btn-lg btn-block">Choose scenario</button>
</div>
<h3>Your games:</h3>
<div *ngIf="games.length == 0">
    <h5>You don't have any games played yet.</h5>
</div>
<div *ngIf="!reportSuccess">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Something's wrong! Try again later!
    </div>
</div>
<div *ngIf="games.length != 0">
    <div class="games overflow-auto row">
        <div class="games card-group col-sm-3" *ngFor="let game of games">
            <div class="card text-center text-white bg-secondary mb-1">
                <div class="card-body">
                    <h6 class="card-title">{{ game.finished_at |  date:'yyyy-MM-dd' }}</h6>
                    <p class="card-subtitle mb-2">{{ game.scenario.title }}</p>
                    <button type="button" (click)="getReport(game.id)" class="btn btn-dark report">REPORT</button>
                </div>
            </div>
        </div>
    </div>
</div>