<ng-select 
    bindLabel="role"
    placeholder="Select one role, that suits you best. Hover on role title to see more information."
    appendTo="body"
    [searchable]="true" 
    [clearable]="true"
    [(ngModel)]="selected">
    <ng-option [value]="role" *ngFor="let role of roles">
        <div title="{{role.description}}">
            {{role.role}}</div>
    </ng-option>
</ng-select>
<div *ngIf="selected && selected?.length != 0">
    <button type="button" (click)="saveRoles()" class="btn btn btn-outline-success btn-lg save-role">SAVE</button>
</div>