<div class="scenarios">
  <div *ngFor="let scenario of scenarios">
    <div class="card text-center text-white mb-3" style="background-color: #394046;">
      <div class="card-header">
        {{ scenario.title }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ scenario.description }}</p>
        <button type="button" (click)="openGame(scenario.id)" class="btn btn-outline-info play">PLAY</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="scenarios?.length == 0">
  <button type="button" (click)="no()" class="btn btn btn-outline-warning btn-lg btn-block">There is no scenarios for your role</button>
</div>